	*{
	box-sizing: border-box;

}
body{
	font-family: arial;
	display: flex;
	flex-direction: column;
	margin: 0;

}
a{
	text-decoration: none;
}
header{
	background: #0d0d0e;
	display: flex;
	align-items: center;
	padding: 15px 0;
	
}
header a{
	color:white;
}
header ul{
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;

}
#logo{
	margin: 0 auto;
	font-size: 25px;
}
#menu li{
	padding: 10px;

}
#social-links li{
	padding: 10px;

}
#main{
	display: flex;
}
article{
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.829);
	color: whitesmoke;
	text-justify: auto;
}

aside{
	display: flex;
	flex-wrap: wrap;
	flex:0 0 20vw;
	background: rgb(1, 5, 20);
}
aside ul{
	list-style: none;
	padding: 0;
}
aside ul a{
	color:whitesmoke;
	display: inline-block;
	padding:10px;
	border-bottom: 1px solid grey;
	transition:0.5s;
}
aside ul a:hover{
	background-color: whitesmoke;
	color: black;
	
}

aside img{
	width: 100%;
}
.services-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color:black;
}
.service-box{
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 15px;
	flex-basis: 32%;
	max-width: 370px;
	display: flex;
	flex-direction: column;
	
	border-radius: 25px;

}
.service-box h3{
	margin:5px 0 10px;
}
.service-box p{
	margin:0 0 10px;
}
.call-to-action{
	align-self: flex-start;
	margin-top: auto;
}
.call-to-action a{
	border: 2px solid transparent;
	background: black;
	color:white;
	padding: 8px 13px;
	display: block;


}
.call-to-action a:hover{
	border: 2px solid grey;
	background: transparent;
	color:white;
}
.service-box img{
	width: 100%;
	height: 100%;
	
}

footer{
background-color:black;
color:white;
text-align:center;
padding: 15px ;

height: 40px;
}
@media screen and (max-width: 850px){
	.service-box{
		flex-basis: 45%;

	}
	aside{
		flex:0 0 30vw;

	}
}
@media screen and (max-width: 600px){
	#main{
		flex-direction: column;
	}
	header{
		flex-direction: column;
	}
	#logo{
		order: -1;	}
		article{
			order: -1;
		}
		.services-container{
	flex-direction: column;
	align-items: center;
}
h2{
	text-align: center;
}

}
