	*{
	box-sizing: border-box;

}
body{
	font-family: arial;
	display: flex;
	flex-direction: column;
	margin: 0;

}
a{
	text-decoration: none;
}
header{
	background: white;
	display: flex;
	align-items: center;
	padding: 15px 0;
	
}
header a{
	
	font-weight: bold;
	

}
header ul{
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;

}
#logo{
	margin: 0 auto;
	font-size: 35px;
	font-family: Cursive;

}

#menu li{
	padding: 10px;
	font-size: 25px;



}
#menu li a{
	color:blue;
	font-family: cursive;
}
#social-links li{
	padding: 10px;
	color:red;

}
#social-links li a{
	color:red;

}
#main{
	display: flex;
}
#welcome{
	margin-top: 50px;
	margin-left: 350px;
	font-family:cursive;
}
#paragraph{
	color:white;
}
article{
	padding: 10px;
	
	color: black;
	text-justify: auto;
	margin: 0;
	color:black;
}

aside{
	display: flex;
	flex-wrap: wrap;
	flex:0 0 20vw;
	background-color: white;
	margin-top: 100px;
	
	margin-right: 0 ;
}
aside ul{
	list-style: none;
	padding: 0;
}
aside ul a{
	color:black;
	display: inline-block;
	padding:10px;
	font-size: 20px;
	/*border-bottom: 1px solid grey;*/
	transition:0.5s;
	font-family: cursive;
	font-weight: bold;
}
aside ul a:hover{
	background-color: whitesmoke;
	color: black;
	font-size:30px;
	
}

aside img{
	width: 100%;
}
#hello{
	margin-top: 80px;
	margin-left:370px;
	font-family: cursive;

}
.services-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;

	

}

.service-box{
	
	padding: 10px;
	margin-bottom: 15px;
	flex-basis: 32%;
	max-width: 370px;
	display: flex;
	flex-direction: column;
	font-family: cursive;
	border-radius: 25px;

}
.service-box h3{
	margin:5px 0 10px;
}
.service-box p{
	margin:0 0 10px;
}
.call-to-action{
	align-self: flex-start;
	margin-top: auto;
}
.call-to-action a{
	border: 2px solid black;
	font-weight: bold;
	color:black;
	padding: 8px 13px;
	display: block;


}
.call-to-action a:hover{
	border: 2px solid grey;
	background: transparent;
	color:black;
	font-weight: lighter;
}
.service-box img{
	width: 100%;
	height: 100%;
	
}

footer{
/*border:2px solid black;*/
color:black;
text-align:center;
padding: 15px ;
font-family: cursive;
height: 40px;
}
@media(max-width: 850px){
	.service-box{
		flex-basis: 45%;

	}
	aside{
		flex:0 0 30vw;

	}
}
@media(max-width: 600px){
	#main{
		flex-direction: column;
	}
	header{
		flex-direction: column;
	}
	#logo{
		order: -1;	}
		article{
			order: -1;
		}
		.services-container{
	flex-direction: column;
	align-items: center;
}
h2{
	text-align: center;
}
@media(max-width: 412px){
	#main{
		flex-direction: column;
	}
	header{
		flex-direction: column;
	}
	#logo{
		order: -1;	}
		article{
			order: -1;
		}
		.services-container{
	flex-direction: column;
	align-items: center;
}
h2{
	text-align: center;
}

}
